
#header {
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px 30px;
    background-image: url("../res/codigo.png");
    background-position: center;
    background-color:rgb(24, 24, 24);
    background-blend-mode:color-dodge;
    background-attachment: fixed;
}
.main-bar #header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px!important;
    width: 100%;
}
.main-bar{
    display: flex;
    width: 100%;
    z-index: 1000;
    flex-wrap: wrap;
    justify-content: center;
    background-blend-mode: color-burn
}

.nav-item{
    display: flex;
    color:white;
    padding:20px;
    text-decoration: none;
    align-items: center;
}
.nav-item:hover {
    background-color: rgb(20, 109, 225);
    color: white;
}

.rounded-card{
    text-decoration: none;
    color:white;
    padding:20px;
    border-radius: 20px;
    margin: 20px;
}
.rounded-card h2 {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 15px;
    text-align: center;
}

.rounded-card-blue {
    border: 1px solid rgb(20, 109, 250);
    background-color:rgb(83, 135, 204);
    background-blend-mode: color-burn
}

.nav {
    display: flex;
    overflow: auto;
    position: sticky;
    top:0;
    background-color:rgb(20, 109, 225,0.9);
    z-index: 10;
    justify-content: center;
}

#foto {
    background-image: url("../res/erik.jpg");
}
.circle-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.circle-picture::after {
    content: attr(nombre);
    position:absolute;
    background-color: black;
}

.divisor {
    height: 1px;
    background-color: rgba(0,0,0,0.125);
    width: 100%;
    margin: 3px 0;
}

#galeria-isolaatti-android img{
    max-height: 300px;
    margin: 5px;
}

#header-isolaatti-card{
    background-image: url("../imagenes-isolaatti/isolaatti-mixer-1.png");
    background-size: cover;
    background-position: center;
}

#header-isolaatti-card > h3 {
    backdrop-filter: blur(10px);
    background-color: rgba(92, 0, 184, 0.5);
    padding: 10px;
    margin: 0;
    color:white;
}

footer {
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 150px;
    box-sizing: border-box;
    box-shadow: black;
    background-image: url("../res/codigo.png");
    background-position: bottom;
    background-color:rgb(56, 95, 194);
    background-blend-mode:darken;
    flex-wrap: wrap;
    background-attachment: fixed;
}

.bottom-info-item {
    color: white;
    margin: 30px;
    font-family: sans-serif;
    font-size: 1.5em;
}

.links {
    display: flex;
    flex-direction: column;
}

.links::before {
    content: "Contáctame";
    color: white;
    font-family: sans-serif;
    text-align: center;
}
.no-before::before {
    content: "";
}

.links > div {
    display: flex;
    justify-content: center;

}

.link {
    margin: 0 5px;
}
.link a{

    color:white;
}